@{
  ViewData["Title"] = "Home Page";
  Layout = "_Layout";
  }
@using Welp.Models

<h1> Welcome to Welp!</h1>

<h3> See a list of Destinations below: </h3>

<ol>
  @foreach (Destination destination in Model)
  {
    <ul>
      <li>@Html.ActionLink($"{destination.Name}", "Details", new {id = destination.DestinationId})</li>
    </ul>
  }

<h3> Or add a Destination yourself! </h3>
<h3 class="btn btn-dark">@Html.ActionLink("Add Destination", "Create")</h3>